<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<div class="content" role="main">
  <!-- Highlight Card -->
  <h1 class="title">Argus Assess</h1>

  <h2 class="property-name">{{ property.Name }}</h2>

  <div class="property-occupancy">
    <h3>Ocucupancy</h3>
    <div class="bar">
      <div
        class="colored-bar"
        [style.width.%]="(tenant.Area / property.TotalRentalArea) * 100"
      ></div>
    </div>
    {{ tenant.Area / property.TotalRentalArea | percent }}
  </div>

  <div class="property-tenant">
    <div class="property-section">
      <h3>Property</h3>
      <div class="spacer">
        <label>Name</label><input [(ngModel)]="property.Name" />
      </div>
      <div class="spacer">
        <label>Rentable area</label
        ><input [(ngModel)]="property.TotalRentalArea" disabled />
      </div>
    </div>
    <div class="tenant-section">
      <h3>Tenant</h3>
      <div class="spacer">
        <label>Tenant Name</label><input [(ngModel)]="tenant.Name" />
      </div>
      <div class="spacer">
        <label>Tenant area</label><input [(ngModel)]="tenant.Area" />
      </div>
    </div>
  </div>

  <div class="footer">Argus Software 2017</div>
</div>
