.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  .title {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
  }
  .property-occupancy {
    border: 1px solid black;
    margin-bottom: 20px;

    .bar {
      width: 80%;
      height: 10px;
      border: 1px solid black;
      .colored-bar {
        background-color: green;
        height: 10px;
      }
    }
  }

  .property-tenant {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;

    label {
      min-width: 200px;
      display: inline-block;
    }
  }

  .footer {
    border-top: 2px solid black;
    padding-top: 5px;
    margin-top: 20px;
  }
}
